<!DOCTYPE html>

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"/>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', sans-serif;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="text-center mb-2 mt-2">
        <form action="/v/quit_message" method="post" id="messageWriteForm" class="row">
            <input type="hidden" name="idx" th:value="${message.getMessageId()}">
            <div class="col-12">
                <textarea autofocus style="width: 100%; padding: 5px;" name="messageContent" id="messageContent"
                          cols="50"
                          class="autosize"
                          rows="2"
                th:text="${message.getMessageContent()}" disabled></textarea>
            </div>
            <div class="col-6">
                <button type="submit" name="submit" value="NO" style="width: 100%" >&larr; 뒤로</button>
            </div>
            <div class="col-6">
                <button type="submit" name="submit" value="YES" style="width: 100%" >떠나기 &times;</button>
            </div>
        </form>
    </div>

</div>

<script>
    document.querySelector('#messageContent').addEventListener('keydown', function (e) {
        if (e.keyCode === 13) {
            // Ctrl + Enter
            if (e.ctrlKey) {
                console.log('ctrl+enter');
                document.querySelector('#messageWriteForm').submit()
            }
        }
    });

    $("textarea.autosize").on('keydown keyup', function () {
        $(this).height(1).height($(this).prop('scrollHeight') + 24);
    });
    $("textarea.autosize").height(1).height($("textarea.autosize").prop('scrollHeight') + 24);
</script>
</body>
</html>